.bucketContainer {
    padding: 20px;
}

.productList {
    list-style: none;
    padding: 0;
}

.productItem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
}

.productInfo {
    font-weight: bold;
    margin-bottom: 10px;
}
